modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[objectStorage]
defaultBucketID = "replit-objstore-3dff5f3e-5bc6-4b37-8118-45ace243c9df"

[nix]
channel = "stable-25_05"
packages = ["eas-cli", "killall"]

[userenv]

[userenv.shared]
SUPABASE_URL = "https://szlukdnwkmnwlkfritpl.supabase.co"
ADMIN_USER_ID = "1c887cbd-bc8a-4f0c-833f-5e5fdb20d148"
